html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
}

img {
    max-width: 20%;
    max-height: 20%;
}

.bio {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}